.task-content {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--dark-blue);
    font-size: 16px;

    & .text-container {
        display: flex;
        flex-direction: column;
        padding: 8px;
        width: 100%;
        gap: 8px;
        color: var(--dark-blue);

        & .title {
            font-size: 18px;
        }

        & .description {
            font-size: 14px;
            font-style: italic;
        }

        & input[type=text]::placeholder {
            color: #1919707b;
        }
    }

    .warning-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 10px;
        color: red;
    }
    
    .progress-bar {
        background-color: var(--red);
        height: 5px;
    }

    & .icons-container {
        display: flex;
        flex-direction: column;
        width: 60px;
        height: 100%;

        & button {
            height: 100%;

            &.edit {
                background-color: var(--light-orange);
                border-top-right-radius: 8px;
            }

            &.confirm {
                background-color: var(--light-green);
                border-top-right-radius: 8px;
            }

            &.remove, &.cancel {
                background-color: var(--light-red);
                border-bottom-right-radius: 8px;
            }
        }

        & img {
            width: 20px;
            height: 20px;
        }
    }
}